
:root {
    --standard-animation: 0.5s linear 0s 1 normal;

    --space-size: 100px;
    --minus-space-size: calc(0px - var(--space-size));

    --face-size: calc(var(--space-size) * 3);
    --minus-face-size: calc(0px - var(--face-size));

    --half-face-size: calc(var(--face-size) / 2);
    --minus-half-face-size: calc(0px - var(--half-face-size));
    --double-face-size: calc(var(--face-size) * 2);
    --minus-double-face-size: calc(0px - var(--double-face-size));

    --half-space-size: calc(var(--space-size) / 2);
    --minus-half-space-size: calc(0x - var(--half-space-size));

    --border-size: 5px;
    --border-round: 5px;

    --text-size: calc(var(--space-size) * 0.9);
    --half-text-size: calc(var(--text-size) / 2);



    --x-color: #84f056;
    --o-color: #d41558;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    position: relative;
    font-size: var(--text-size);
    background-color: #666;
    color: #999;
    border: var(--border-size) solid #333;
}

#upButton, #downButton {width: var(--face-size); }
#leftButton, #rightButton {height: var(--face-size); }

.jolt-up {top: var(--minus-half-face-size); }
.jolt-up-twice {top: var(--minus-face-size); }
.jolt-right {left: var(--half-face-size); }
.jolt-left {left: var(--minus-half-face-size); }

.td-board {
    padding: var(--half-space-size);
}

#cubeBoard {
    position: relative;
}

#dirPad {
    position: relative;
    top: 0px;
}

#overScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    color: #ccc;
    background-color: #333;
    opacity: 0.6;
    font-size: 4em;
}

.pc-score, .ai-score {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: var(--half-text-size);
}

.face {
    position: relative; 
}

.row {
    display: flex;
}

.space {
    position: relative;
    display: flex;
    border-radius: var(--border-round);
    width: var(--space-size);
    height: var(--space-size);
    font-size: var(--text-size);
}

.container {
    margin: auto;
}

.x-color {color: var(--x-color);}
.o-color {color: var(--o-color);}

.x-mark {
    background-color: #666;
    color: var(--x-color);
    border: var(--border-size) solid var(--x-color);
}

.o-mark {
    background-color: #333;
    color: var(--o-color);
    border: var(--border-size) solid var(--o-color);
}

.no-mark {
    background-color: #111;
    color: #666;
    border: var(--border-size) solid #333;
}

.grow-up {animation: grow-up var(--standard-animation); }
@keyframes grow-up {
    0% {transform: scale(1, 0); top: var(--minus-half-face-size); }
    100% {transform: scale(1); top: var(--minus-face-size); }
}
.shrink-up {animation: shrink-up var(--standard-animation); }
@keyframes shrink-up {
    0% {transform: scale(1); top: 0px; }
    100% {transform: scale(1, 0); top: var(--minus-half-face-size); }
}

.grow-right {animation: grow-right var(--standard-animation); }
@keyframes grow-right {
    0% {transform: scale(0, 1); left: 0px; }
    100% {transform: scale(1); left: var(--half-face-size); }
}
.shrink-right {animation: shrink-right var(--standard-animation); }
@keyframes shrink-right {
    0% {transform: scale(1); left: var(--minus-half-face-size); }
    100% {transform: scale(0, 1); left: 0px; }
}

.grow-down {animation: grow-down var(--standard-animation); }
@keyframes grow-down {
    0% {transform: scale(1, 0); top: var(--minus-half-face-size); }
    100% {transform: scale(1); top: 0px; }
}
.shrink-down {animation: shrink-down var(--standard-animation); }
@keyframes shrink-down {
    0% {transform: scale(1); top: var(--minus-face-size); }
    100% {transform: scale(1, 0); top: var(--minus-half-face-size); }
}

.grow-left {animation: grow-left var(--standard-animation); }
@keyframes grow-left {
    0% {transform: scale(0, 1); left: 0px; }
    100% {transform: scale(1); left: var(--minus-half-face-size); }
}
.shrink-left {animation: shrink-left var(--standard-animation); }
@keyframes shrink-left {
    0% {transform: scale(1); left: var(--half-face-size); }
    100% {transform: scale(0, 1); left: 0px; }
}