
@media screen and (orientation:portrait) {
    :root{
        --space-size: calc(100vw / 7);
        --from-top: calc(33vh - 33vw); /* = (100vh - 100vw) / 3 */
    }
}

@media screen and (orientation:landscape) {
    :root{
        --space-size: calc(100vh / 7);
        --from-top: 0px;
    }
}



:root {
    --standard-animation: 0.5s linear 0s 1 normal;

    /* --space-size: 100px; */
    --minus-space-size: calc(0px - var(--space-size));

    --face-size: calc(var(--space-size) * 3);
    --minus-face-size: calc(0px - var(--face-size));

    --half-face-size: calc(var(--face-size) / 2);
    --minus-half-face-size: calc(0px - var(--half-face-size));
    --double-face-size: calc(var(--face-size) * 2);
    --minus-double-face-size: calc(0px - var(--double-face-size));

    --half-space-size: calc(var(--space-size) / 2);
    --minus-half-space-size: calc(0x - var(--half-space-size));

    --border-size: 5px;
    --border-round: 5px;

    --text-size: calc(var(--space-size) * 0.9);
    --half-text-size: calc(var(--text-size) / 2);



    --x-color: #84f056;
    --o-color: #d41558;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    position: relative;
    font-size: var(--half-text-size);
    background-color: #666;
    color: #999;
    border: var(--border-size) solid #333;
}

#upButton, #downButton {width: var(--face-size); height: var(--space-size); }
#leftButton, #rightButton {width: var(--space-size); height: var(--face-size); }

.td-board {
    padding: var(--half-space-size);
}

#faceSpace {
    position: relative;
    width: var(--face-size);
    height: var(--face-size);
}

#cubeBoard {
    position: absolute;
    top: calc(var(--from-top) + var(--half-face-size)); 
}

#dirPad {
    position: relative;
    top: var(--from-top);
}

#overScreen, #aiScreen, #gameOverScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

#overScreen {
    z-index: 5;
    color: #ccc;
    background-color: #333;
    opacity: 0.6;
    font-size: var(--half-text-size);
    padding-top: 10vh;
}

#aiScreen {
    z-index: 6;
    color: var(--o-color);
    background-color: #333;
    opacity: 0.8;
    font-size: var(--face-size);
    padding-top: 20vh;
    display: none;
}

#gameOverScreen {
    z-index: 7;
    background-color: #333;
    opacity: 0.9;
    font-size: var(--half-text-size);
    display: none;
    justify-content: center;
    text-align: center;
}

#gameOverScreen td {
    padding-left: var(--half-space-size);
    padding-right: var(--half-space-size);
}

#pc-score, #ai-score {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: var(--half-text-size);
}

#pc-score, #pc-game-over-score, #pc-total-score {
    color: var(--x-color);
}

#ai-score, #ai-game-over-score, #ai-total-score {
    color: var(--o-color);
}

.face {
    position: relative; 
}

.row {
    display: flex;
}

.space {
    margin: 1px;
    position: relative;
    display: flex;
    border-radius: var(--border-round);
    width: var(--space-size);
    height: var(--space-size);
    font-size: var(--text-size);
}

.container {
    margin: auto;
}

.x-color {color: var(--x-color);}
.o-color {color: var(--o-color);}

.x-mark {
    background-color: #666;
    color: var(--x-color);
    border: var(--border-size) solid var(--x-color);
}

.o-mark {
    background-color: #333;
    color: var(--o-color);
    border: var(--border-size) solid var(--o-color);
}

.no-mark {
    background-color: #111;
    color: #666;
    border: var(--border-size) solid #333;
}

.grow-up {animation: grow-up var(--standard-animation); }
@keyframes grow-up {
    0% {transform: scale(1, 0); top: var(--minus-half-face-size); }
    100% {transform: scale(1); top: var(--minus-face-size); }
}
.shrink-up {animation: shrink-up var(--standard-animation); }
@keyframes shrink-up {
    0% {transform: scale(1); top: 0px; }
    100% {transform: scale(1, 0); top: var(--minus-half-face-size); }
}

.grow-right {animation: grow-right var(--standard-animation); }
@keyframes grow-right {
    0% {transform: scale(0, 1); left: 0px; }
    100% {transform: scale(1); left: var(--half-face-size); }
}
.shrink-right {animation: shrink-right var(--standard-animation); }
@keyframes shrink-right {
    0% {transform: scale(1); left: var(--minus-half-face-size); }
    100% {transform: scale(0, 1); left: 0px; }
}

.grow-down {animation: grow-down var(--standard-animation); }
@keyframes grow-down {
    0% {transform: scale(1, 0); top: var(--minus-half-face-size); }
    100% {transform: scale(1); top: 0px; }
}
.shrink-down {animation: shrink-down var(--standard-animation); }
@keyframes shrink-down {
    0% {transform: scale(1); top: var(--minus-face-size); }
    100% {transform: scale(1, 0); top: var(--minus-half-face-size); }
}

.grow-left {animation: grow-left var(--standard-animation); }
@keyframes grow-left {
    0% {transform: scale(0, 1); left: 0px; }
    100% {transform: scale(1); left: var(--minus-half-face-size); }
}
.shrink-left {animation: shrink-left var(--standard-animation); }
@keyframes shrink-left {
    0% {transform: scale(1); left: var(--half-face-size); }
    100% {transform: scale(0, 1); left: 0px; }
}